[submodule "feesight-machine-learning"]
	path = feesight-machine-learning
	url = https://github.com/Aflinxh/feesight-machine-learning.git
[submodule "feesight-cloud"]
	path = feesight-cloud
	url = https://github.com/Aflinxh/feesight-cloud.git
[submodule "feesight-mobile"]
	path = feesight-mobile
	url = https://github.com/Aflinxh/feesight-mobile.git
